*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #45413E;
}

.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main";
    grid-gap: 1rem;
    grid-template-columns: 5vw auto auto;
    grid-template-rows: auto auto;
}

.container header{
    width: 100%; 
    grid-area: header;
    border-bottom: 1px solid #0A0A0A;
    padding: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header div{
    height: 3vh;
    display: flex;
    gap: 2%;
}

.container header div.logo{
    dispaly: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.container header div.search{
    dispaly: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

.container header div.search input{
    border: none;
    background-color: #0A0A0A;
    height: 3vh;
    width: 20vw;
    color: red;
}

.container header div.search div.input-wrapper{
    display: flex;
    align-items: center;
    background-color: #0A0A0A;
    padding: 10px;
    border-radius: 10px;
}


.container header div.search div.input-wrapper i{
    background-color: #0A0A0A;
    cursor: pointer;

}
div.input-wrapper input:focus-visible{
    outline: none;
}

.container header div.new-list{
    display: flex;
    align-items: center;
    font-size: 2em;

}

.container header div.new-list button{
    border: none;
    background-color: #9127EF;
    width: 7vw;
    padding: 0.5em;
    border-radius: 10px;
}
.container header div.new-list i{
    background-color: #9127EF;
    padding: 0 0.5em ;
}


.container aside{
    border-right: 1px solid #0A0A0A;
    grid-area: aside;
    margin-right: 2%;
    width: 5vh;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container aside div.top{
    height: 10%;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container aside div.bottom{
    height: 10%;
    padding: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container aside i{
    cursor: pointer;
}



.container main {
    grid-area: main;
    border: 3px solid white;
    width: 40vw;
    height: 90vh;
}

