
:root {
    --font-family: "Roboto", sans-serif;
    --background-color: #45413E;
    --text-color: #fff;
    --border-color: #0A0A0A;
    --input-background-color: #0A0A0A;
    --button-background-color: #9127EF;
}

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--input-background-color);
} */


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task {
    max-width: 800px;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
}

.task-header {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-title, .task-date {
    font-size: 24px;
    font-weight: bold;
    padding: 2%;
}

.task-body {
    margin-bottom: 20px;
    min-height: 10vh;
    height: 100%;
    padding: 2%;

}

.task-footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
}

.task-button {
    background-color: var(--button-background-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.task-button a{
    text-decoration: none;
    background-color: var(--button-background-color);
}