* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  background-color: #0a0a0a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  background-color: #45413e;
  padding: 5% 10%;
  min-height: auto;
  width: 30vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.container form div {
  display: flex;
  flex-direction: column;
}

.container form h1 {
  margin-bottom: 5%;
  padding-left: 20%;
}

.container label {
    padding: 4% 10% 1% 2%;
}

.container input,
.container select,
.container option {
  color: black;
  padding: 4% 10% 5% 2%;
  margin-bottom: 4%;
  border: none;
  border-radius: 20px;
  height: 2rem;
  cursor: pointer;

}


.container .submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 8rem;
}

.container .submit a {
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
}

.container .submit a:hover {
  color: #b790f8;
}

#submit {
  border-radius: 20px;
  background-color: #692feb;
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  border: none;

}

.container .submit button#submit:hover {
  background-color: #4e1993;
}
